* {
		box-sizing: border-box;
	}

body {
	background-image: url("http://www.xponentialdesign.com/img/loops/questionMarkQuiz.gif");
	background-size: 1500px;
	font-size: 13px;
	font-weight: 700;
	font-family: "Good Times", "Times Roman", "serf";
	/*line-height: 25px;*/

}

header {
	font-size: 60px;
	font-weight: 700;
	color: #AA1136;
	text-align: center;
}

 .form-group {
	background-color: lightblue;
	max-width: 50%;
	align-self: center;
	
	

		/*margin-right: 230px;
	margin-left: 230px;*/
}

h1 {
	font-size: 30px:
	font-weight: 300;
	text-align: center:;
}

p {
	background-color: lightblue;
	/*height: 30px;*/
}

form {
	background-color: lightblue;
}


@media screen and (max-width: 980px) {
		body {
			background-color: lightgray;
		}
		.wrapper{
			width: 600px;
		}
	}

		@media screen and (max-width: 768px) {
		body {
			background-color: lightgray;
		}
		.wrapper{
			width: 600px;
		}
	}

		@media screen and (max-width: 640px) {
		body {
			background-color: lightgray;
		}
		.wrapper{
			width: 600px;
		}
	}